body{
    height: 100vh;
}

button{
    background: rgba(132, 39, 39);
    border: solid white 1px;
    color: white;
    border-radius: 10px;
    width: 94%;
    height: 50px;
    margin: 50px 0% 3% 3%;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}

.title{margin-top: 200px;}

.title, .title1{
    font-size: 35px;
    color: white;
}
.center{
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

.WhiteLine{
    width: 90%;
    margin: 5% 5% 0 5%;
    background: white;
    height: 7px;
}

.paragrafo{
    color: white;
    font-size: 24px;
    margin: 7%;
}

.entrada, .select{
    margin: 20px 0% 0px 0%;
}

.select{
    font-size: 14px;
    width: 100%;
    height: 40px;
}

img{
    max-width: 100%;
}